# dependencies
.pnp.js
.pnp
node_modules

# testing
coverage

# misc
*.pem
.DS_Store
.cache
.eslintcache
.idea
.vscode

# debug
*.log

# local env files
.env*
!.env.example

out
build
dist

# plasmo
.plasmo

# typescript
.tsbuildinfo
tsconfig.tsbuildinfo

# Turborepo
.turbo
